.root {
    width: 800;
    text-align: 'left';
    margin: 20
}
.media {
    height: 0;
    padding-top: '56.25%'
}
.expand {
    transform: 'rotate(0deg)';
    margin-left: 'auto'
}

.avatar {
    background-color: red
}

.link{
    text-decoration: 'none';
    box-shadow: 'none';
    color: 'white'
}